./Backend/ConTask/node_modules
./Backend/ConTask/node_modules/*
./Frontend/ConTask/node_modules
./Frontend/ConTask/node_modules/*
./Frontend/ConTask/.idea
./Frontend/ConTask/.idea/*
./Backend/ConTask/.idea
./Backend/ConTask/.idea/*
./Backend/ConTask/db
./Backend/ConTask/db/*
